@model CourseAssignmentForCreatingDto
@{
	string id = Guid.NewGuid().ToString();
	string name = $"CourseAssignmets[{id}].Name";
}
<div id="@($"assignment-{id}")" class="form-group row align-items-center">
	<div class="col-12 col-md-2">
		<label for="@name" class="col-form-label text-nowrap">Assignment:</label>
	</div>
	<div class="col col-md-8">
		<input asp-for="Name" id="@id" name="@name" class="form-control"
					 placeholder="Enter Course Assignment..." />
	</div>
	<div class="col-3 col-md-auto ml-md-0 mr-md-auto">
		<button data-dynamic-toggle-remove="@($"assignment-{id}")"
						type="button"
						class="btn btn-block btn-outline-danger">Delete</button>
	</div>
	<input type="hidden" name="CourseAssignmets.Index" value="@id" />
	<small class="text-danger col-md-2"><span data-valmsg-for="@name" data-valmsg-replace="true"></span></small>
</div>
