@model AssignStudentToCourseViewModel
@{
	int counter = 0;
}
<div id="course_assign_students_@Model.CourseId">
	<hr class="w-75 bg-primary" />

	<form asp-controller="Teacher"
				asp-action="AssignStudentsToCourse"
				method="post"
				data-ajax="true"
				data-ajax-method="post"
				data-ajax-mode="replace"
				data-ajax-loading="#loaderId"
				data-ajax-update="#course_row_@Model.CourseId">

		@foreach (var student in Model.Students)
		{
			<div class="row align-items-center my-1">
				<div class="col p-2 text-center text-warning">
					@(counter + 1)
				</div>
				<div class="col p-2 text-center">
					@student.Name
				</div>
				<div class="col p-2 text-center">
					<div class="custom-control custom-checkbox">
						<input asp-for="@student.IsSelected"
									 name="@($"Students[{counter}].IsSelected")"
									 id="@($"Students[{counter}].IsSelected")"
									 class="custom-control-input">
						<label for="@($"Students[{counter}].IsSelected")"
									 class="custom-control-label">Assign To Course</label>
					</div>
				</div>
			</div>
			<input type="hidden" name="@($"Students[{counter}].Id")" value="@student.Id" />
			{ counter++; }
		}

		@if (Model.Students.Count < 1)
		{
			<h6 class="text-center mt-4">All sudents are assigned</h6>
		}

		<div class="row align-items-center my-2">
			<div class="col-auto ml-auto mr-2">
				<button data-dynamic-toggle-remove="course_assign_students_@Model.CourseId"
								type="button"
								class="btn btn-sm btn-outline-danger ml-2">
					Cancel
				</button>
				@if (Model.Students.Count > 0)
				{
					<button type="submit" class="btn btn-sm btn-outline-success px-4">Save</button>
				}
			</div>
		</div>
		<input type="hidden" asp-for="@Model.CourseId" />
	</form>

	<hr class="w-75 bg-primary" />
</div>
