@model Course
<!--#region Course Row-->
<div id="course_row_@Model.Id">
	<!-- #region Course Row Header -->
	<div class="row align-items-center">
		<div class="col p-2 text-center">
			@Model.Name
		</div>
		<div class="col p-2 text-center">
			@Model.Students.Count
			<button data-dynamic-target="course_students_@Model.Id" data-dynamic-toggle="show" class="btn btn-outline-primary ml-1">View Students</button>
		</div>
		<div class="col p-2 text-center">
			@Model.CourseAssignments.Count
			<button data-dynamic-target="course_assignments_@Model.Id" data-dynamic-toggle="show" class="btn btn-outline-info ml-1">View Assignments</button>
		</div>
		<div class="col p-2 text-center">
			<button data-dynamic-target="course_description_@Model.Id" data-dynamic-toggle="show" class="btn btn-outline-info">Show</button>
		</div>
		<div class="col p-2 text-center">
			<a class="btn btn-danger">Remove Course</a>
		</div>
	</div>
	<!-- #endregion -->
	<!--#region Course Students-->
	<div class="row align-items-center my-1 mb-3 collapse" id="course_students_@Model.Id">
		<div class="d-flex w-100 align-items-center ml-2">
			<span class="text-white scm-translateY-down rounded-pill bg-primary px-3 mr-auto">Students</span>
			<a data-ajax="true"
				 data-ajax-method="get"
				 data-ajax-mode="replace"
				 data-ajax-update="#course_student_@Model.Id"
				 data-ajax-loading="#loaderId"
				 data-ajax-url="@Url.Action("RemoveStudentsFromCourse", "Teacher", new { courseId = Model.Id})"
				 class="btn btn-sm btn-outline-danger rounded-0 border-bottom-0 ml-2">Remove</a>
			<a data-ajax="true"
				 data-ajax-method="get"
				 data-ajax-mode="replace"
				 data-ajax-update="#course_student_@Model.Id"
				 data-ajax-loading="#loaderId"
				 data-ajax-url="@Url.Action("AssignStudentsToCourse", "Teacher", new { courseId = Model.Id})"
				 class="btn btn-sm btn-outline-success rounded-0 border-bottom-0 ml-2">Add</a>
		</div>
		<div class="pt-3 w-100 rounded-left rounded-bottom border border-info">
			<div class="studentInCourseContainerId_@Model.Id">
				<partial name="~/Views/Course/_CourseStudentList.cshtml" model="Model.Students" />
			</div>
			@if (Model.Students.Count < 1)
			{
				<h6 class="text-center my-4">No Students Enrolled Yet</h6>
			}
			<div id="course_student_@Model.Id">
			</div>
		</div>
	</div>
	<!--#endregion-->
	<!--#region Course Assignments-->
	<div class="row align-items-center my-1 mb-3 collapse" id="course_assignments_@Model.Id">
		<span class="text-dark rounded-pill bg-light scm-translateY-down px-3 ml-2">Student Assignment</span>
		<div class="pt-3 w-100 rounded border border-light">
			<partial name="~/Views/CourseAssignment/_CourseAssignmentList.cshtml" model="Model.CourseAssignments" />
		</div>
	</div>
	<!--#endregion-->
	<!--#region Course Description-->
	<div class="row align-items-center my-1 mb-3 collapse" id="course_description_@Model.Id">
		<span class="text-white rounded-pill bg-info scm-translateY-down px-3 ml-2">Description</span>
		<div class="alert pt-3 w-100 rounded border-info">
			@Model.Description
		</div>
	</div>
	<!--#endregion-->
</div>
<!-- #endregion-->
