@model IEnumerable<Course>
@{
  int counter = 1;
}

<table class="table table-responsive-md table-borderless text-center">
  <thead>
    <tr class="shadow-sm bg-warning">
      <th scope="col">#</th>
      <th scope="col">Course Name</th>
      <th scope="col">Teacher</th>
      <th scope="col">Enrollment</th>
      <th scope="col">Assignmets</th>
      <th scope="col">Description</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var course in Model)
    {
      <tr>
        <td scope="row">@counter</td>
        <td>@course.Name</td>
        <td>@course.Teacher.Name</td>
        <td>@course.Students.Count</td>
        <td>@course.CourseAssignments.Count</td>
        <td><button data-dynamic-target="description-@counter" data-dynamic-toggle="show" class="btn btn-outline-info">Show</button></td>
        <td><a href="">details</a></td>
      </tr>
      <tr id="description-@counter" class="collapse">
        <td></td>
        <td colspan="7" class="bg-dark rounded text-left border-left border-warning pr-2 pt-0 pb-2">
          <small class="d-block text-info">Course Description</small>
          <small class="text-muted">@course.Description</small>
        </td>
      </tr>
      { counter++; }
    }
  </tbody>
</table>