@model IPaggingData
@{
	var queryParams = Context.Request.Query.ToDictionary(q => q.Key, q => q.Value.ToString());

}
<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item @(Model.HasPrevious ? "" : "disabled")">
			<a asp-all-route-data="@queryParams"
				 asp-route-Page="@(Model.CurrentPage - 1)"
				 asp-controller="Person"
				 asp-action="Index"
				 class="page-link">Previous</a>
		</li>
		@for (int i = 1; i <= Model.TotalPages; i++)
		{
			<li class="page-item @(Model.CurrentPage == i ? "active" : "")">
				<a asp-all-route-data="@queryParams"
					 asp-route-Page="@i"
					 asp-controller="Person"
					 asp-action="Index"
					 class="page-link">@i</a>
				</li>
			}
		<li class="page-item @(Model.HasNext ? "" : "disabled")">
			<a asp-all-route-data="@queryParams"
				 asp-route-Page="@(Model.CurrentPage + 1)"
				 asp-controller="Person"
				 asp-action="Index"
				 class="page-link">Next</a>
		</li>
	</ul>
</nav>